<html>
    <head>
        <title>Veteran's Landscaping</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"><meta name="title" content="Veteran's Landscaping">
        <meta name="description" content="Landscaping company from burlington ontario canada">
        <meta name="keywords" content="Veterans, landscaping, garden bed overhaul, stonework, decks, spring clean up, fall clean up, planting, patios, weekly maintenance, mulch, lawn, cut trim and blow, bushes, burlington, ontario, canada">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <link rel="stylesheet" href="/stylesheets/app.css">

    </head>

<body class="d-flex flex-column">
       
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/" class="navbar-brand"><i class="fas fa-leaf"></i> Veteran's Landscaping</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/gallery" class="nav-item nav-link">Image Gallery</a>
                <a href="/getintouch" class="nav-item nav-link">Get In Touch</a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class=" col-xl-12 col-sm-6">
            <h1 class="header">Image Gallery</h1>
            
        
        </div>
    </div> 

    <div class="row">
        <div class="col-xl-3 col-lg-4 col-med-6 col-sm-12">
            <img src="/images/gardenbed5.jpeg" class="img-thumbnail "  >
        </div>
        <div class="col-xl-3 col-lg-4 col-med-6 col-sm-12">
            <img src="/images/gardenbed4.jpeg" class="img-thumbnail">    
        </div>
        <div class="col-xl-3 col-lg-4 col-med-6 col-sm-12">
            <img src="/images/gardenstone.jpg" class="img-thumbnail">    
        </div>
    </div>

    <div class="row" id="row2">
        <div class="col-xl-3 col-lg-4 col-med-6 col-sm-12">
            <img src="/images/stonework4.jpg" class="img-thumbnail">
        </div>
        <div class="col-xl-3 col-lg-4 col-med-6 col-sm-12">
            <img src="/images/planterbox.jpg" class="img-thumbnail">    
        </div>
        <div class="col-xl-3 col-lg-4 col-med-6 col-sm-12">
            <img src="/images/stonework6.jpg" class="img-thumbnail">    
        </div>
    </div>

    <div class="row" id="row3">
        <div class="col-xl-3 col-lg-4 col-med-6 col-sm-12">
            <img src="/images/gardenbed1.jpg" class="img-thumbnail">
        </div>
        <div class="col-xl-3 col-lg-4 col-med-6 col-sm-12">
            <img src="/images/stonework3.jpg" class="img-thumbnail">    
        </div>
        <div class="col-xl-3 col-lg-4 col-med-6 col-sm-12">
            <img src="/images/gardenbed6.jpeg" class="img-thumbnail">    
        </div>
    </div>



    <div class="d-flex align-self-center" id="social">
        <div id="social-buttons">
            <a href="https://www.facebook.com/veteranslandscaping89"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/veteranslandscaping_/"><i class="fab fa-instagram"></i></a>
        </div>
    
    </div>



    <footer>
        <p><small> &copy 2020 Veteran's Landscaping. Developed by 
            <a class="publisher" href="https://still-ocean-51503.herokuapp.com/">JS Web Dev</a></small> 
        </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>