<html>
    <head>
        <title>Veteran's Landscaping</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Veteran's Landscaping">
        <meta name="description" content="Landscaping company from burlington ontario canada">
        <meta name="keywords" content="Veterans, landscaping, garden bed overhaul, stonework, decks, spring clean up, fall clean up, planting, patios, weekly maintenance, mulch, lawn, cut trim and blow, bushes, burlington, ontario, canada">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <link rel="stylesheet" href="/stylesheets/app.css">

    </head>

<body class="d-flex flex-column">
       
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/" class="navbar-brand"><i class="fas fa-leaf"></i> Veteran's Landscaping</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/gallery" class="nav-item nav-link">Image Gallery</a>
                <a href="/getintouch" class="nav-item nav-link">Get In Touch</a>
            </div>
        </div>
    </nav>

    <div class="row" id="title">
        <div class="col-lg-12 ">
          <h1 class="header" id="brand">Veteran's Landscaping</h1>
          <p class="header-content">Owner Operators: Meghan Kemp & Aaron Boyle</p>
          <p class="header-content"><i class=" fas fa-map-marker-alt"></i> 2292 No.2 Sideroad Burlington, Ontario</p>
          <p class="header-content"><i class="fas fa-phone"></i> (905) 870-8199</p>
          <p class="header-content"><i class="far fa-envelope"> E-Mail:</i> <a href="mailto:Mkemp1989@icloud.com"> Mkemp1989@icloud.com</a></p>
          <hr class="style-four">
        </div>  
    </div>

    <div class="row" id="services">
        <div class="col-lg-12 ">
          <h1 class="service-head" id="brand">Services</h1>
          <p class="service-content"><i class="far fa-check-circle"></i> Weekly Maintenance</p>
          <p class="service-content"><i class="far fa-check-circle"></i> Cut Trim & Blow</p>
          <p class="service-content"><i class="far fa-check-circle"></i> Beds & Bushes</p>
          <p class="service-content"><i class="far fa-check-circle"></i> Spring & Fall Clean Up</p>
          <p class="service-content"><i class="far fa-check-circle"></i> Patios</p>
          <p class="service-content"><i class="far fa-check-circle"></i> Planting</p>
          <p class="service-content"><i class="far fa-check-circle"></i> Garden Bed Overhauls</p>
          <p class="service-content"><i class="far fa-check-circle"></i> Decks</p>
          <p class="service-content"><i class="far fa-check-circle"></i> Mulch and Stone Work</p>
          <p class="service-content"><i class="far fa-check-circle"></i> If you're not sure call us for a quote!</p>
          
        </div>  
    </div>

    <div class="d-flex align-self-center" id="social">
        <div id="social-buttons">
            <a href="https://www.facebook.com/veteranslandscaping89"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/veteranslandscaping_/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>



    <footer>
        <p><small> &copy 2020 Veteran's Landscaping. Developed by 
            <a class="publisher" href="https://still-ocean-51503.herokuapp.com/">JS Web Dev</a></small> 
        </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>